.date-picker-wrapper
{
	border: 1px solid #456;
	background-color: #123;
	box-shadow: 0 0 8px #036;
	color: inherit;
}
.date-picker-wrapper,
.date-picker-wrapper *
{
	box-sizing: initial;
}
.date-picker-wrapper b
{
	color: #789;
}
.date-picker-wrapper a
{
	color: #6AE;
}
.date-picker-wrapper .month-wrapper
{
	border: 1px solid #567;
	background-color: #234;
	box-shadow: 0 0 16px rgba(160,192,255,0.3);
}
.date-picker-wrapper .month-wrapper table
{
	background-color: transparent;
}
.date-picker-wrapper .month-wrapper table div:hover
{
	background: #345;
}
.date-picker-wrapper .month-wrapper table .day
{
	color: #555;
}
.date-picker-wrapper .month-wrapper table div.day.lastMonth,
.date-picker-wrapper .month-wrapper table div.day.nextMonth
{
	color: #456;
}
.date-picker-wrapper .month-wrapper table .day.checked
{
	background-color: #258;
}
.date-picker-wrapper .month-wrapper table .day.invalid.hovering,
.date-picker-wrapper .month-wrapper table .day.invalid.checked
{
	color: #222;
}
.date-picker-wrapper .time label
{
	display: initial;
}
.date-picker-wrapper .time input
{
	display: initial;
}
.date-picker-wrapper .month-wrapper table .day.toMonth.valid
{
	color: #ACE;
}
.date-picker-wrapper .month-wrapper table .day.toMonth.hovering
{
	background-color: #369;
}
.date-picker-wrapper .month-wrapper table .day.toMonth.valid.weekend
{
	color: #9DD;
}
.date-picker-wrapper .month-wrapper table .day.real-today
{
	background-color: #55F;
}
.date-picker-wrapper .month-wrapper table .day.real-today.checked,
.date-picker-wrapper .month-wrapper table .day.real-today.hovering
{
	background-color: #77F;
}
.date-picker-wrapper table .caption .next:hover,
.date-picker-wrapper table .caption .prev:hover
{
	background-color: #6AE;
	color: white;
}
.date-picker-wrapper .gap .gap-line .gap-1
{
	border-left: 8px solid #234;
	border-top: 8px solid #345;
	border-bottom: 8px solid #345;
}
.date-picker-wrapper .gap .gap-line .gap-2
{
	border-top: 8px solid #234;
}
.date-picker-wrapper .gap .gap-line .gap-3
{
	border-bottom: 8px solid #234;
}
.date-picker-wrapper .gap .gap-top-mask
{
	background-color: #345;
}
.date-picker-wrapper .gap .gap-bottom-mask
{
	background-color: #345;
}
.date-picker-wrapper .drp_top-bar .apply-btn
{
	border: solid 1px #058;
	background: #09C;
	box-shadow: inset -1px -2px 6px #049;
	color: #DEF;
}
.date-picker-wrapper .drp_top-bar .apply-btn.disabled
{
	color: #8AE;
	border: solid 1px #456;
	background: #246;
	box-shadow: inset -1px -2px 6px #69C;
}
.date-picker-wrapper .first-date-selected
{
	background-color: #48A !important;
}
.date-picker-wrapper .last-date-selected
{
	background-color: #48A !important;
}
.date-picker-wrapper .date-range-length-tip
{
	box-shadow: 0 0 8px #48C;
	color: #249;
	border: 1px solid #789;
	background-color: #CFF;
	border-radius: 3px;
}
.date-picker-wrapper .date-range-length-tip:after
{
	border-top: 4px solid #CFF;
}
.date-picker-wrapper .week-number
{
	color: #888;
}
.date-picker-wrapper .week-number.week-number-selected
{
	color: #49E;
	background: #456;
}